<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, user-scalable=no" />
<meta charset="UTF-8" />
<link rel="manifest" href="../../manifest.webmanifest">
    <title>Document</title>
    <script src = '../../index.js'></script>
</head>
<body>
    {{{body}}}
</body>
</html>