<a class="logo" href="/">Home</a>
<body>
    <div class="login-page">
        <div class="form">
            <p>
                Telefone : 3471-0506
            </p>
          </form>
        </div>
      </div>
</body>
</html>