<a class="logo" href="/">Home</a>
<body>
    <div class="login-page">
        <div class="form">
          <form class="login-form"></form>
            {{#each post}}
            <h1>{{dataValues.nome}}</h1>
            {{/each}}
            <p> Seu plano atual :</p>
            {{#each post}}
            <h1>{{dataValues.plano}}</h1>
            {{/each}}
            <p> valor medio de download : </p>
            {{#each post}}
            <h1>{{dataValues.speed_dl}}</h1>
            {{/each}}
            <button href="about">Entrar em contato</button>
            <br>
            <button type="submit">Atualizar dados</button>
            <p class="message">Duvidas?Ligue para <a href="about">para retirar duvidas</a></p>
          </form>
        </div>
      </div>
</body>
</html>